:root {
    --grey-light-color: #e0e0e0;
    --grey-dark-color: #909090;

    --padding: 12px;
    --margin: 12px;

    --header-height: 40px;

    --line-height: 30px;

    --font-medium: 14px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

button{
    all:unset;
    cursor: pointer;
}

input{
    all:unset
}

header {
    /* height: calc(var(--header-height) + var(--margin)*2); */
    /* padding: var(--padding); */
    width: 100%;
    position: fixed;
}

header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: calc(var(--header-height) + var(--margin)*3);;
}

header hr{
    margin-left: 320px;
}

header .tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: calc(var(--margin)); */
    margin-left: 300px;
    width: 100%;
    height: 50px;
    background-color: white;
}

header .tags div{
    height: 32px;
    min-width: 12px;
    border-radius: 16px;
    cursor: pointer;

    padding: calc(var(--padding)/2);
    margin: calc(var(--margin)/2);
    background-color: var(--grey-light-color);
    border: 1px;
    overflow: hidden;
}



header .logo div{
    display: inline-block;
}

header .search div{
    display: inline-block;
}

header .optionsAndLogin div{
    display: inline-block;
}



header .logo .bars{
    margin: var(--margin);
}


header .logo .youtube{
    font-size: 20px;
    
}

header .logo .youtube i{
    color: red
}

header .search{
    width: 500px;
    padding: 0 calc(var(--padding)/2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

header .search .searchInBox{
    width: 100%;
    height: 100%;
    margin-left: 34px;
    border: 1px solid var(--grey-dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .search .searchInBox input{
    padding-left: var(--padding);
    width: 150%;
}

header .search .searchInBox .keyboard{
    margin: 0 calc(var(--margin));
}

header .search .searchOutBox{
    height: 100%;
    display: flex;
    justify-items: center;
}

header .search .searchOutBox .searchButton{
    border: 1px solid var(--grey-dark-color);
    width: calc(var(--header-height)*1.5);
    background-color: var(--grey-light-color);
}

header .search .searchOutBox .searchButton i{
    display: flex;
    justify-content: center;
}

header .search .searchOutBox .mic{
    width: var(--header-height);
    background-color: var(--grey-light-color);
    border-radius: 50%;
    margin-left: 10px;
}

header .search .searchOutBox .mic i{
    display: flex;
    justify-content: center;
}

header .optionsAndLogin .options{
    margin: var(--margin);
}

header .optionsAndLogin .loginButton{
    border: 1px solid blue;
    color: blue;
    padding: var(--padding) calc(var(--padding)*1.5);
    margin: 0 calc(var(--margin)*1.5);
}

header .optionsAndLogin .loginButton i{
    margin-right: calc(var(--margin)/2);
}


nav{
    width: 300px;
    margin-right: 20px;

    overflow-y: scroll; 
    height: 100vh;
    margin-top: calc(var(--header-height) + var(--margin)*2);
    
    position: fixed;

}

nav::-webkit-scrollbar{
    display: none;
}

nav hr{
    margin: var(--margin) 0;
}

nav li{
    width: 100%;
    line-height: var(--line-height);
    font-size: var(--font-medium);
    cursor: pointer;
}

nav .area{
    padding-left: calc(var(--padding)*2);
    font-size: 20px;
    margin: var(--margin) 0;
}

nav .area .icon {
    width: calc(var(--padding));
    margin-right: calc(var(--margin)*2);
    
    display: inline-block;
}

nav .area .icon i {
    display: flex;
    justify-content: center;
}

nav .login-button{
    border: 1px solid blue;
    color: blue;

    width: 125px;
    padding: var(--padding) calc(var(--padding)*1.5);
    margin: 0 calc(var(--margin)*1.5);
    margin-top: var(--margin);

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .login-button i {
    margin: 0 var(--margin);
}

nav .etc{
    font-size: 15px;

}

nav .login-button{
    margin-left: 0px;
    padding-left: 0px;
}





article{
    padding-top: calc(var(--header-height) + var(--margin)*3 + 50px);
    margin-left: 320px;
    width: 100%;
}



article .advertisement{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: calc(var(--padding)*3);
    background-color: black;
    color: white;
    margin-bottom: calc(var(--margin)*3);
}

article .advertisement .title{
    font-size: 25px;
    
}

article .advertisement .title i{
    color: red;
}

article .advertisement button{
    border: 1px solid white;
    padding: var(--padding);
    width: 110px;

    display: flex;
    justify-content: center;
}


article .videos {
    margin: calc(var(--margin));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article .videos {
    margin: calc(var(--margin));
}

article .videos .video{
    margin: calc(var(--margin));
}

article .videos .video div{
    width: 300px;
    height: 190px;
    background-color: black;

}
