:root {
    --top-menu-width: 50rem;
}


.top-fixed-right-user-area{
    border-bottom: 1px solid black;
    padding-right: 10rem;
}


header > .top-menu {
    min-width: var(--top-menu-width);
}

header > .top-menu > * {
    margin: 0 1rem;
}

header > .top-menu > .logo {
    height: 50%;
}

header > .top-menu > .input-area {
    width: 20rem;
    height: 50%;
    border: 2px solid black;
    border-radius: 3rem;
    background-color: white;
}

header > .top-menu > .input-area > div > *{
    height: 100%;
}

header > .top-menu > .input-area input {
    width: 80%;
}

header > .top-menu > .input-area button {
    width: 10%;
    cursor: pointer;
}

header .rank{
    border: 1px solid;
    width: 12rem;
    height: 2rem;
    background-color: white;
}

nav > .nav-area {
    min-width: var(--top-menu-width);
}

nav > .nav-area > *{
    margin: 0 2rem;
}


/* nav > .nav-area > *{
    margin: 0 1rem;
} */

nav .delivery {
    width: 5rem;
    height: 2rem;
    background-color: orange;
    color: white;
    border-radius: 1rem;
} 


article {
    display: flex;
    justify-content: center;
}



article .slide-area {
    position: relative;
    background-color: gray;

}

article .slide-area > img {
    width: 30rem;
    height: 40rem;
}

article .slide-area > button {
    position: absolute;
    background-color: white;
    width: 5rem;
    height: 5rem;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 1000;
    font-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


article .slide-area > .left-button {
    right: 95%;
}

article .slide-area > .right-button {
    left: 95%;
}


article .recommend {
    margin-top: 7rem;
    /* min-width: var(--top-menu-width); */
    width: 50%;
    height: 5rem;
    background-color: white;

}

article .recommend > *{
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
}


article .taps {
    margin-left: 0.5rem;
    width: 50%;
    height: 5rem;
    background-color: white;
}

article .taps > div{
    float: left;
}

article .taps > div > *{
    display: inline-block;
}


footer .footer-top {
    width: 100%;
    height: 70%;;
}

footer .blocks {
    width: 50%;
    height: 70%;
}

footer .blocks > .block {
    height: 90%;
    width: 10%;
    border: 1px solid black;
    
}

footer .footer-bottom {
    width: 100%;
    height: 30%; 
    background-color: gray;
}
