:root {
    --top-menu-width: 50rem;
}


.top-fixed-right-user-area{
    border-bottom: 1px solid black;
    padding-right: 10rem;
}


header > .top-menu {
    min-width: var(--top-menu-width);
}

header > .top-menu > * {
    margin: 0 1rem;
}

header > .top-menu > .logo {
    height: 50%;
}

header > .top-menu > .input-area {
    width: 20rem;
    height: 50%;
    border: 2px solid black;
    border-radius: 3rem;
    background-color: white;
}

header > .top-menu > .input-area > div > *{
    height: 100%;
}

header > .top-menu > .input-area input {
    width: 80%;
}

header > .top-menu > .input-area button {
    width: 10%;
    cursor: pointer;
}

header .rank{
    border: 1px solid;
    width: 12rem;
    height: 2rem;
    background-color: white;
}

nav > .nav-area {
    min-width: var(--top-menu-width);
}

nav > .nav-area > *{
    margin: 0 2rem;
}


/* nav > .nav-area > *{
    margin: 0 1rem;
} */

nav .delivery {
    width: 5rem;
    height: 2rem;
    background-color: orange;
    color: white;
    border-radius: 1rem;
} 

/* article .slide-area {
    background-color: white;
} */

article .img {
    width: 3rem;
    height: 3rem;
    border: 1px solid rgb(115, 128, 0);
}

/* article .recommend {
    background-color: white;
    height: 20%;
}

article .cards-area {
    background-color: white;
} */

footer .footer-top {
    width: 100%;
    height: 70%;;
}

footer .blocks {
    width: 50%;
    height: 70%;
    /* background-color: white; */
}

footer .blocks > .block {
    height: 90%;
    width: 10%;
    border: 1px solid black;
    
}

footer .footer-bottom {
    width: 100%;
    height: 30%; 
    background-color: gray;
}
