:root {
    --white-color: #fff;
    --dark-green-color: #10af29;
    --light-green-color: #0abb26;
    

    --margin: 12px;
    --padding: 12px;
    --header-height: 113px;
    --min-width: 1200px;

}

* {
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

ul{
    list-style: none;
}

button {
    all:unset;
    cursor: pointer;
}

input {
    all:unset;
}

/* h2 {
    display: inline;
} */

body {
    display: flex;
    justify-content: center;
}


header {
    top: 0;
    width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    position: fixed;
    min-width: var(--min-width);
    background-color: var(--white-color);

}

header .left img{
    width: 240px;
    height: 113px;
    aspect-ratio: auto 240 / 113;
}
header .middle {
    position: relative;
    display: flex;
    width: 553px;
    height: 48px;
    /* margin-top: 40px; */
    margin-left: -5px;
    border-radius: 24px;
    border: 2px solid #067dfd;
    box-sizing: border-box;
    vertical-align: top;
    background-color: var(--white-color);
    align-items: center;
    justify-content: flex-end;
}

header .middle img {
    height: 20px;
    margin-right: var(--margin);
}

header .right{
    display: flex;
    align-items: center;
}

header .right button {
    margin: 0 var(--margin);
}



header .head_top .left .middle .right {
    overflow-x: hidden;
}

header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    padding-top: var(--header-height);
    min-width: var(--min-width);
    /* padding-left: 89px; */

}

main .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main .navigation .category_all_button {
    display: flex;
    align-items: center;

    width: 224px;
    height: 60px;
    padding: 17px 0 20px;
    line-height: 21px;
    font-size: 18px;
    font-weight: bold;
    color: var(--white-color);
    letter-spacing: -1px;
    text-align: left;
    background-color: var(--dark-green-color);
    box-sizing: border-box;

}

main .navigation .category_all_button i{
    font-size: 22px;
    padding-left: calc(var(--padding) * 2);
    padding-right: var(--padding);
}


main .navigation .service_all{
    margin-right: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .navigation .service_all img{
    height: 32px;
    margin: var(--margin);
}

main .category_and_images .category div{
    width: 224px;
    height: 44px;
    font-size: 15px;
    letter-spacing: -1px;
    color: var(--white-color);
    background-color: var(--light-green-color);
    text-indent: 24px;
    line-height: 42px;
    cursor: pointer;
    border-bottom: var(--white-color) 1px;
}

main .best {
    padding-top: 50px;
}

main .best .title {
    display: flex;
    justify-content: space-between;
}



main .best ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main .best .bestseller .img{
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
}



main .main_market {
    width: 100%;
    height: 860px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

main .main_market .expressshop {
    width: 574px;
}

main .main_market .expressshop .title{
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

main .main_market .smiledelivery{
    width: 574px;
    padding-left: 52px;
}

main .main_market .smiledelivery .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main .main_market .box {
    height: 285px;
    background-color: grey;
    border-radius: 10px;
    color: var(--white-color)
}

main .main_market .box .title {
    height: 51px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    
}

main .main_market .box .content {
    height: 234px;
    display: flex;
    justify-content: space-between;
}

main .main_market .box .content .prev_button{
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

main .main_market .box .content .next_button{
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

main .main_market .box .content .information {
    width: 442px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .main_market .box .content .information .info_title{
    font-size: 16px;
}

main .main_market .box .content .information .info_text{
    font-size: 30px;
}

main .main_market .box .content .information .info_subtitle{
    font-size: 16px;
    margin: 11px 0px 0px 2px;
}


main .main_market .box .content .information .img {
    width: 194px;
    height: 194px;
    border-radius: 50%;
    background-color: var(--white-color);
}

main .main_market .item_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .main_market .items ul{
    width: 574px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

main .main_market .items .item{
    width: 280px;
    height: 100px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}


main .main_market .items .item .img {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 5px;
}

main .main_market .items .item .info {
    width: 157px;
    height: 90px;
}

main .main_market .items .item .info .tag{
    font-size: 12px;
    color: gray;
    line-height: 17px;
    vertical-align: top;
}

main .main_market .items .item .info .name{
    width: 100%;
    height: 38px;
    margin-top: 6px;
    font-size: 12px;
    color: #444;
    line-height: 19px;
}

main .main_market .items .item .info .price{
    margin-top: 6px;
    font-size: 12px;
    color: #222;
}

main .main_service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .main_service .service{
    width: 102px;
    height: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main_service .service img{
    width: 68px;
    height: 68px;
}

/* main .main_service .service span{
    display: block;
} */