* {
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 200px;
    padding-top: 44px;
}

ul{
    list-style: none;
}

input {
    all:unset;
}

button {
    all:unset;
    cursor: pointer;
}

body {
    overflow-x: hidden;
}


header .top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 120px;
    border-top: 1px solid;
}

header .top .toplink {
    position: absolute;
    right: 50%;
    top: 8px;
    margin-right: -600px;
    font-family: noto-m;
}

header .top .toplink li {
    display: inline-block;
    margin-left: 28px;
    font-size: 12px;
    color: #272727;
    vertical-align: middle;
}


header .top .search{
    margin: 0 46px 0 42px;

}

header .top .search .inform {
    width: 363px;
    height: 44px;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

header .top .search input {
    text-indent: 10px;
    padding-left:10px;
    width: 80%;
    height: 44px;
    font-size: 16px;
    border: none;
    background: 0 0;
    font-family: noto-m;
}

header .top .search button i{
    font-size: 30px;

}

header .top img{
    height: 40px;
}

header .top .mymenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 510px; */
    height: 81px;
}

header .top .mymenu img{
    width: 35px;
    height: 33px;
}

header .top .mymenu .icon{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
}

header .top .mymenu .icon span{
    padding-top: 7px;
    white-space: nowrap;
    letter-spacing: -2px;
}

header .top .mymenu .icon .count span{
    position: absolute;
    right: 25px;
    top: 0;
    padding: 0 1px 0 2px;
    min-width: 18px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    color: #fff;
    border-radius: 50%;
    background: #ff7d9e;
}

header .top .mymenu .table{
    width:200px;
    height: 30px;
    border: 1px solid;
    margin-left: 78px;
}

header .top .popular_search{
    display: none;
}

header .top .popular_search.active{
    display: block;
}

nav {
    padding-top: 0px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn_all {
    height: 40px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

nav .btn_all .bar{
    display: flex;
    align-items: center;
    height: 10px;
    transition: all .4s;
}




nav .btn_all.active {
    z-index: 1001;  
    background-color: #fff;
}


nav .btn_all.active .bar:nth-child(1){
    color: #ff7d9e;
    -webkit-transform: translateY (10px) rotate (-45deg);
    transform: translateY(10px) rotate(-45deg);
    
}

nav .btn_all.active .bar:nth-child(2){
    opacity: 0;
}

nav .btn_all.active .bar:nth-child(3){
    color: #ff7d9e;
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
}


nav .allMenu {
    display: none;
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 1000;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(255,125,158,0.95);
}

nav .allMenu.active {
    display: block;
    animation: fadein 0.4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav .allMenu .box {
    position: relative;
    margin: 0 auto;
    padding-top: 280px;
    width: 1094px;
    color: #fff;
    font-size: 14px;
    text-align: left;
}

nav .allMenu .box .ul_top{
    margin-bottom:  60px;
}


nav .allMenu .box .ul_top li{
    display: inline-block;
    margin-right: 120px;
    font-size: 26px;
    font-weight: bold;
}


nav .allMenu .box .list_wrap{
    margin-bottom:  120px;
}


nav .allMenu .box .list_wrap h2 {
    font-size: 26px;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 12px;
}

nav .allMenu .box .list_wrap li{
    width: 14.28%;
    float: left;

}

nav .allMenu .box .list_wrap li span{
    display: block;
    text-indent: 15px;
    font-size: 17px;
    height: 33px;
    line-height: 33px;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: -1.3px;
}


nav .menu {
    padding-left: 20px;
    display: flex;
    list-style: none;
}

nav .menu li {
    cursor: pointer;
    white-space:nowrap;
    
}

nav .menu span {
    font-weight: bold;
    padding: 0 8px;
    height: 34px;
    font-size: 16px;
    line-height: 32px;
}

nav .menu .best{
    color: #9F3FF8;
}

nav .menu .new{
    color: #FF416F;
}


nav .delivery {
    margin-left: 160px;
    /* margin-right: 20px; */

    background-color: orange;
    color: white;

    width: 102px;
    height: 70%;
    min-width: 52px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}

main {
    width: 100%;
}

main .main_slide {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

main .main_slide ul{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

main .main_slide ul li{
    display: flex;
}

main .main_slide ul .bg{
    filter: brightness(50%);
}


main .main_slide button {
    position: absolute;
    color: white;
    font-size: 100px;
    z-index: 1000;
}

main .main_slide .left {
    right: 95%;
}

main .main_slide .right {
    left: 95%;
}

main .main_slide .left.active {
    display: none;
}

main .main_slide .right.active {
    display: none;
}


main .product_box{
    position: relative;
    padding: 86px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recommned {
    width: 1400px;
}

main .recommned .category{
    display: flex;
    padding: 18px 0px;
}

main .recommned .category div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    width: 93px;
    height: 43px;
    border-radius: 50px;
    
    background: #f3f3f3;
    color: #646464;
    font-size: 18px;
}

main .recommned .category .hot {
    background: #ff7d9e;
    color: #fff;
    font-weight: bold;
}

main .recommned .products ul {
    display: flex;
    flex-direction: column;
}

main .recommned .products li{
    width: 253px !important;
    float: left;
    padding-left: 2px;
    margin-right: 25px;
    margin-bottom: 57px;
}

main .recommned .products li .item_image .img{
    height: 253px;
    background-color: gray;
    border-radius: 10px;
    position: relative;
}

main .recommned .products li .item_image i{
    position: absolute;
    right: 14px;
    bottom: 14px;
    color: #fff;
    font-size: 23px;
    text-align: left;
    background-size: 27px;
    width: 27px;
    height: 27px;
}

main .recommned .products li .item_content{
    margin-top: 10px;
}

main .recommned .products li .item_content .subject{
    font-weight: 300;
    color: #878787;
    line-height: 19px;
}

main .recommned .products li .item_content .info{
    margin-bottom: 9px;
}

main .recommned .products li .item_content .info .discount{
    color: #ff7d9e;
    font-weight: bold;
    font-size: 17px;
}

main .recommned .products li .item_content .info .price{
    font-size: 16px;
    font-weight: bold;
    color: #010101;
    margin-left: 3px;
}


main .product_box .rightquick{
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 99;
    margin-left: 730px; /*760*/

    margin-top: 120px;
}

main .product_box .rightquick ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .product_box .rightquick li{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid grey;
    border-radius: 50%;
    font-size: 30px;

    margin-bottom: 10px;
}

main .product_box .rightquick li img{
    width: 50px;
    height: 50px;
}

footer {
    margin-top: 122px;
    border-top: solid 1px #ccc;
}

footer .top {
    padding-top: 62px;
}

footer .top .inner{
    display: flex;
    justify-content: center;
    height: 450px;
}

footer .top .inner .col1{
    margin-right: 62px;
    width: 268px;
}

footer .top .inner .col2{
    margin-right: 38px;
    width: 254px;
}

footer .top .inner .col3{
    width: 180px;
}

footer .top .inner .col4{
    width: 478px;
}


footer .top .inner .tit{
    font-weight: bold;
    height: 36px;
    font-size: 17px;
    
}

footer .top .inner .col1 .tel{
    font-weight: bold;
    font-size: 17px;
}


footer .top .inner .col1 .kakao {
    width: 170px;
    margin-top: 28px;
    font-size: 16px;
    padding: 10px 49px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    font-weight: bold;

    display: flex;
    justify-content: center;
}

footer .top .inner .col1 .kakao img{
    width: 27px;
    height: 27px;
}

footer .top .inner .col1 .call{
    font-size: 17px;
    margin: 30px 0;
}


footer .top .inner .col1 .consulting{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}


footer .top .inner .col1 .title{
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

footer .top .inner .col1 .content{
    height: 24px;
    font-size: 14px;
    color: #8b8b8b;
}

footer .top .inner .col1 .board{
    margin-top: 15px;
}

footer .top .inner .col1 .board .title{
    display: flex;
    align-items: center;
}

footer .top .inner .col1 .board button{
    width: 15px;
    height: 15px;
    font-size: 11px;
    border: 1px solid #8b8b8b;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

footer .top .inner .col1 .board .con{
    display: flex;
    justify-content: space-between;
}

footer .top .inner .col2 .notice_box .tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 39px;
    font-size: 17px;
    border: solid #999;
    border-width: 1px 0;
    font-weight: bold;
}

footer .top .inner .col2 .notice_box li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 12px;
    font-size: 14px;
    color: #999;
}

footer .top .inner .col2 .notice_box li em{
    color: red;
    font-weight: bold;
    border: solid 1px;
    padding: 0px 3px 0px 1px;
    margin: -2px 3px 2px 3px;
    font-size: 8px;
}

footer .top .inner .col2 .info_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    
}


footer .top .inner .col2 .info_list .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

footer .top .inner .col3 .content {
    margin-bottom: 8px;
    font-size: 16px;
}

footer .top .inner .col3 .div2 {
    margin-top: 68px;
}

footer .top .inner .col3 .div3 {
    margin-top: 84px;
}

footer .top .inner .col3 .otherCountry {
    margin-top: 37px;
}

footer .top .inner .col3 .otherCountry img{
    width: 30px;
    margin-right: 5px;
    border: 1px solid #e0e0e0;
}

footer .top .inner .col4 .addr{
    color: #ff6c7c;
    margin-bottom: 14px;
}

footer .top .inner .col4 .txt{
    font-size: 15px;
    margin-bottom: 42px;

}

footer .top .inner .col4 .link div{
    float: left;
    color: #ff6c7c;
    border: 1px solid #ff6c7c;
    border-radius: 4px;
    line-height: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}



footer .top .inner .col4 .link{
    display: flex;
    flex-direction: column;
}

footer .top .inner .col4 .link .bottom_group{
    display: flex;
    justify-content: space-between;
    border: none;
}

footer .top .inner .col4 .link .l1{ 
    width: 476px;
    margin-bottom: 14px;
}

footer .top .inner .col4 .link .l2{ 
    width: 159px;
    margin-right: 17.5px;
}

footer .top .inner .col4 .link .l3{ 
    width: 138px;
    margin-right: 17.5px;
}

footer .top .inner .col4 .link .l4{ 
    width: 138px;
}


footer .top .inner .col4 .enter{
    margin-top: 16px;
    width: 478px;
} 


footer .bottom {
    padding: 36px 0 20px;
    height: 160px;
    font-size: 13px;
    color: #d6d6d6;
    background-color: #000;
}

footer .bottom .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer .bottom .inner .title{
    margin-bottom: 15px;
    color: white;
}

footer .bottom .inner ul li{
    float: left;
    position: relative;
    margin-left: 28px;
    margin-bottom: 15px;
}

footer .bottom .inner ul li::before{
    content: "";
    position: absolute;
    left: -14px;
    top: 0;
    width: 1px;
    height: 16px;
    background: #555;
}

footer .bottom .inner ul li:first-child{
    margin-left: 0px;
}
footer .bottom .inner ul li:first-child::before{
    display: none;
}




