* {
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

header {
    width: 100%;
    height: 200px;
    padding-top: 44px;
}

ul{
    list-style: none;
    all:unset;
}

input {
    all:unset;
}

button {
    all:unset;
    cursor: pointer;
}

body {
    overflow-x: hidden;
}


header .top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100px;
    border-top: 1px solid;
}

header .top .toplink {
    position: absolute;
    right: 50%;
    top: 8px;
    margin-right: -600px;
    font-family: noto-m;
}

header .top .toplink li {
    display: inline-block;
    margin-left: 28px;
    font-size: 12px;
    color: #272727;
    vertical-align: middle;
}


header .top .search{
    margin: 0 46px 0 42px;

}

header .top .search .inform {
    width: 363px;
    height: 44px;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

header .top .search input {
    text-indent: 10px;
    padding-left:10px;
    width: 80%;
    height: 44px;
    font-size: 16px;
    border: none;
    background: 0 0;
    font-family: noto-m;
}

header .top .search button i{
    font-size: 30px;

}

header .top img{
    height: 40px;
}

header .top .mymenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 510px; */
    height: 81px;
}

header .top .mymenu img{
    width: 35px;
    height: 33px;
}

header .top .mymenu .icon{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
}

header .top .mymenu .icon span{
    padding-top: 7px;
    white-space: nowrap;
    letter-spacing: -2px;
}

header .top .mymenu .icon .count span{
    position: absolute;
    right: 25px;
    top: 0;
    padding: 0 1px 0 2px;
    min-width: 18px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    color: #fff;
    border-radius: 50%;
    background: #ff7d9e;
}

header .top .mymenu .table{
    width:200px;
    height: 30px;
    border: 1px solid;
    margin-left: 78px;
}

nav {
    padding-top: 0px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn-all {
    font-size: 30px;
}

nav .menu {
    padding-left: 20px;
    display: flex;
    list-style: none;
}

nav .menu li {
    cursor: pointer;
    
}

nav .menu span {
    font-weight: bold;
    padding: 0 8px;
    height: 34px;
    font-size: 16px;
    line-height: 32px;
}

nav .menu .best{
    color: #9F3FF8;
}

nav .menu .new{
    color: #FF416F;
}


nav .delivery {
    margin-left: 160px;
    /* margin-right: 20px; */

    background-color: orange;
    color: white;

    width: 102px;
    height: 70%;
    min-width: 52px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}

main {
    width: 100%;
}

main .main_slide {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

main .main_slide ul{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

main .main_slide ul li{
    display: flex;
}

main .main_slide ul .bg{
    filter: brightness(50%);
}


main .main_slide button {
    position: absolute;
    color: white;
    font-size: 100px;
    z-index: 1000;
}

main .main_slide .left {
    right: 95%;
}

main .main_slide .right {
    left: 95%;
}

main .product_box{
    padding: 86px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .product {
    width: 1400px;
}

main .product .category{
    display: flex;
    padding: 18px 0px;
}

main .product .category div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    width: 93px;
    height: 43px;
    border-radius: 50px;
    
    background: #f3f3f3;
    color: #646464;
    font-size: 18px;
}

main .product .category .hot {
    background: #ff7d9e;
    color: #fff;
    font-weight: bold;
}





